<li>
	{{burName}}
	<button class="change-burDevoured" data-id="{{id}}" data-newburdevoured="{{burDevoured}}"> 
		{{#if burDevoured}}Make Burger{{else}}Burger Time!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
