
	<div class="col s12 l4">
		<div class="card">
			<div class="card-image">
				<img src="{{burPhoto}}" class="materialboxed hoverable">
				<span class="card-title"><h4 class="outlineText yellow-text center-align">{{burName}}</h4></span>
				<a class="delete-burger btn-floating halfway-fab waves-effect waves-light red hoverable" data-id="{{this.id}}"><i class="material-icons">delete</i></a>
			</div>
			<div class="card-content">
				<button class="change-burDevoured waves-effect waves-light btn orange" data-id="{{id}}" data-newburdevoured="{{burDevoured}}">
					{{#if burDevoured}}Make Burger{{else}}Burger Time!{{/if}}
				</button>
			</div>
		</div>
	</div>
